@import url("styles/header.css"); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("topicos.css");



:root {
    --cor-de-fundo:#EBECEE;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul: rgba(17, 37, 214, 0.541);
    --fonte-principal: "Poppins";
    --azul2:#002f52;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    
}




