.cabecalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    align-items: center;
    position: relative;

}

.container_botao{
    display: none;   
}


.container {
    display: flex;
    align-items: center;
    
}

.container_imagem {
    padding: 1em;
   
}
.lista-menu {
    display:none;
    position:absolute;
    top: 100%;
    width: 60vw;
}
.container_botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu_titulo , .lista-menu_item {
    padding: 1em;
    background-color:  var(--branco);
    
}

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;

    
}

.lista-menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    --webkit-text-fill-color:transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;  

}

.lista-menu_link:hover {
    text-decoration: underline;
 

}

.container-titulo, .opcoes {
    display: none;
}

@media screen and  (min-width:1024px ) {

.container-titulo, .container-titulo-negrito {

    font-family: var(--fonte-secundaria);
    font-size: 30px;

}

    
.container-titulo{

 font-weight: 400;
 display: flex;
 

}

.container-titulo-negrito {

     font-weight: 700;


}


.opcoes {
    display: flex;
    
}

.opcoes-item {

    padding: 1em;
    list-style-type: none;
    text-transform: uppercase;
   
}

.opcoes-link {

    text-decoration: none;
    color: var(--preto);

}

.container_imagem_contaner_transparente, .cabecalho_menu-hamburguer {

    display: none
}

}

.opcoes-botao:checked ~ .lista-menu{

    display: block;
    width: auto;

}

.opcoes-botao {

    display:none
}
